    <!-- Footer -->
    <footer class="footer bg-black">
        <div class="container">
          <div class="footer-grid">
              <div>
                  <a href="https://itacademysz.com/">
                    
                  <img src="{{ url_for('static', filename='it-academy-sz.png') }}" alt="logo" width="500"/>
                  </a>
                  <a href="https://www.facebook.com/itacademysz/"><i class="fab fa-facebook"></i></a>
                  <a href="https://www.instagram.com/itacademystarazagora/"><i class="fab fa-instagram"></i></a>
                </div>
              <div>
              <h4>ИТ Академия</h4>
              <ul>
                <li><a href="https://itacademysz.com/contacts/">Контакти</a></li>
              </ul>
            </div>
            <div>
              <h4>Ресурси</h4>
              <ul>
                <li><a href="https://itacademysz.com/">WEB Site</a></li>
              </ul>
            </div>
            <div>
              <h4>Контакти</h4>
              <ul>
                <li>
                  <a href="#">info@itacademysz.com</a>
                </li>
              </ul>
            </div>
            <div>
              <h4>Телефон</h4>
              <ul>
                <li>
                  <a href="#">+359890426222</a>
                </li>
              </ul>
            </div> 
          </div>
        </div>
      </footer>
    </body>
  </html>