{% include "header.html" %}
  <div id="myDiv">
            <section class="main">
              <p class="main-text" align="right"><font size="2">Powered by Boyan Baykov.</font></p>
              <div class="container">
               
                <div class="main-content">
                  <h1 class="main-heading text-xxl" align="center" >
                    Финансов органайзер.
                  </h1>
                  <p class="main-text">
                    Организирай парите си. 
                  </p>
                </div>
              </div>
            </section>
    </div>

  {% include "Footer.html" %}
          
